<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Soundscaping Art</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-icons/bootstrap-icons.css') }}">
    
    <!-- Template Main CSS File -->
    <!-- <link href="assets/css/style.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
          <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
              <h1 class="text-light"><a href="index.html"><span>Soundscape</span></a></h1>
              <!-- Uncomment below if you prefer to use an image logo -->
              <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
    
            <nav id="navbar" class="navbar">
              <ul>
                <li><a class="nav-link scrollto " href="/">Home</a></li>
                <li><a class="nav-link scrollto active" href="/about">About</a></li>
                <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="/#generate">Generate</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
    
          </div><!-- End Header Container -->
        </div>
      </header>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Soundscaping the Art <span>.</span></h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Giving visuals to audio.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#generate" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Generate</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static', filename='images/generate.png') }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <section>
    
    <div class="container container-fluid py-5">
      
      <div class="section-title ">
        <center>

          <h1 style="font-family: Courier New, monospace;">Approach description</h1><br>
        </center>
      </div>
      <div class="row">
        <div class="col-lg-12">
    
          <div class="horizontal-timeline">
    
            <ul class="list-inline items">
              <li class="list-inline-item items-list">
                <div class="px-4">
                  <!-- <div class="event-date badge bg-info">2 June</div> -->
                  <h5 class="pt-2">Step One</h5>
                  <p class="text-muted">Predicting the class of the audio using DL model.</p>
                  <div>
                    <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                  </div>
                </div>
              </li>
              <li class="list-inline-item items-list">
                <div class="px-4">
                  <!-- <div class="event-date badge bg-success">5 June</div> -->
                  <h5 class="pt-2">Step Two</h5>
                  <p class="text-muted">Generating a descriptive prompt using the predicted class. 
                  </p>
                  <div>
                    <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                  </div>
                </div>
              </li>
              <li class="list-inline-item items-list">
                <div class="px-4">
                  <!-- <div class="event-date badge bg-danger">7 June</div> -->
                  <h5 class="pt-2">Step Three</h5>
                  <p class="text-muted">Sending this prompt to Stability.AI API to generate image.</p>
                  <div>
                    <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                  </div>
                </div>
              </li>
              <li class="list-inline-item items-list">
                <div class="px-4">
                  <!-- <div class="event-date badge bg-warning">8 June</div> -->
                  <h5 class="pt-2">Step Four</h5>
                  <p class="text-muted">Displaying the image on the user interface</p>
                  <div>
                    <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                  </div>
                </div>
              </li>
            </ul>
    
          </div>
    
        </div>
      </div>
    
    </div>
  </section>

  <section>
    <div class="container">
      <center>
        <h1 style="font-family: Courier New, monospace;">Performance Metrics</h1><br>
        <img src="{{ url_for('static', filename='images/metrics/accuracy.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/metrics/loss.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/metrics/val_accuracy.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/metrics/val_loss.png') }}" alt="">
      </center>
    </div>
  </section>

  <section>
    <div class="container">
      <center>
        <h1 style="font-family: Courier New, monospace;">Business Opportunities</h1><br>
      </center>
        <!-- Card -->
        <div class="row">
          <div class="col-md-3"> 
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/134/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">Entertainment Industry</h4>
                <!-- Text -->
                <p class="card-text">
                  <ul>
                    <li>This could be used to create visually engaging music videos or to enhance the overall production quality of films and TV shows. </li>
                    <li>It could also be used to generate promotional materials for events or concerts, as well as to create custom merchandise designs.</li>
                  </ul>
                </p>
        
              </div>
        
            </div>
          </div>
          <div class="col-md-3"> 
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/122/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">Education Industry</h4>
                <!-- Text -->
                <p class="card-text">
                  <ul>
                    <li>This could be useful for creating visual aids for online courses or for enhancing the accessibility of educational content. </li>
                    <li>It could also be used to develop interactive learning experiences or to create visualizations of complex concepts.</li>
                  </ul>
                </p>
        
              </div>
        
            </div>
          </div>
          <div class="col-md-3"> 
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/120/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">Marketing Industry</h4>
                <!-- Text -->
                <p class="card-text">
                  <ul>
                    <li>This could be used to create visually compelling content for social media platforms, websites, and advertisements. </li>
                    <li>By converting audio recordings such as podcasts, interviews, or customer testimonials into images, businesses can increase their content output and engagement rates.</li>
                  </ul>
                </p>
        
              </div>
        
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/4/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">Audio Therapy</h4>
                <!-- Text -->
                <p class="card-text">
                  <ul>
                    <li>An audio-to-image generator can create visual representations of sounds, which can help individuals visualize and better understand their emotions and thought patterns. This can be particularly useful for individuals who struggle with expressing their feelings verbally.</li>
                    <li>An audio-to-image generator can provide individuals with real-time visual feedback on the impact of their sound therapy sessions. This can help them track their progress and provide motivation to continue with their therapy.</li>
                  </ul>
                </p>
        
              </div>
        
            </div>
          </div>

        </div>
    </div>
<!-- Card -->
  </section>


  <section>
    <div class="container">
      <center>
        <h1 style="font-family: Courier New, monospace;">Future Works</h1><br>
      </center>
        <!-- Card -->
        <div class="row">
          <div class="col-md-4"> 
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/11/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">The prompt generation model can be improved using NLP Techniques!</h4>
                <!-- Text -->
                <p class="card-text">
                  Currently, the prompts for image generation in the audio-to-image conversion project are being generated based on pre-defined 
                  descriptors. However, there is room for improvement by developing a model that can generate prompts in a more automated and 
                  personalized manner.
                </p>
        
              </div>
        
            </div>
          </div>
          <div class="col-md-4"> 
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/126/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">improved Audio Model</h4>
                <!-- Text -->
                <p class="card-text">
                  The current audio classification model used in the audio-to-image conversion project categorizes the entire audio input into different 
                  classes. However, there is a potential for improvement by developing a model that can segment the audio input into key words or phrases, 
                  and generate images based on those segments. This approach can provide more precise and specific prompts for image generation, resulting 
                  in a more personalized and accurate image output.
                </p>
        
              </div>
        
            </div>
          </div>
          <div class="col-md-4"> 
            <div class="card">
        
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="https://picsum.photos/id/124/200/200/?blur=2"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <!-- Card content -->
              <div class="card-body">
        
                <!-- Title -->
                <h4 class="card-title">Classes are limited!</h4>
                <!-- Text -->
                <p class="card-text">
                  The audio classification model used in the audio-to-image conversion project is currently limited to only 10 classes.
                   However, this limitation can be overcome by improving the dataset used to train the model, thereby enabling it to classify 
                   audio inputs into a larger number of classes with greater accuracy.

                </p>
        
              </div>
        
            </div>
          </div>
        </div>
    </div>
<!-- Card -->
  </section>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">    
        <div class="footer-top">
          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                  <img src="{{ url_for('static', filename = 'design/png/logo-black-nobg.png') }}" width="150px" alt="">
                  <!-- <span>FlexStart</span> -->
                </a>
                <h2 style="color: #00cc95;">Soundscaping the Art</h2>
              </div>
    
              <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="/about">About us</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="/">Generate</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="https://stability.ai/">Stability.AI</a></li>
                </ul>
              </div>
    
              <div class="col-lg-2 col-6 footer-links">

              </div>
    
              <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    <strong>Rithuraj Nambiar</strong><br>
                    <strong>Email ID: </strong>rithurajnambiar17@gmail.com <br><br>
                    <strong>Craig Roberts</strong><br>
                    <strong>Email ID: </strong>craig.roberts.152@gmail.com
                </p>
    
              </div>
    
            </div>
          </div>
        </div>
      </footer><!-- End Footer -->

</body>

</html>