*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: black;
}

header {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    background: black;
}

nav {
    min-width: 28rem;
    background: white;
    color: #0e0e0e;
    border-radius: 100vw;
}

nav ul {
    padding: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    isolation: isolate;
}

nav ul li a {
    color: #0e0e0e;
    text-decoration: none;
    padding: 1.5rem;
    font-weight: 700;
}

.selectedLink {
    position: absolute;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 50%;
    z-index: -1;
    top: 0;
    left: 12px;
    transition: transform 0.5s ease;
}

.selectedLink .side {
    background: black;
    width: 1.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    border-radius: 0 0 0 100%;
}

.side.left {
    left: -50%;
}

.side.right {
    right: -50%;
    transform: rotateY(180deg);
}

.selectedLink .outside {
    background: black;
    width: 1.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    z-index: 9999;
    clip-path: polygon(79% 25%, 30% 0, 100% 0, 100% 100%);
}

.outside.left {
    left: -140%;
}

.outside.right {
    right: -140%;
    transform: rotateY(180deg);
}

.selectedLink .outside::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -9999;
    background: white;
    border-radius: 0 100% 0 0 / 0 50% 0 0;
}

.selectedLink .dot {
    position: absolute;
    width: 0.5rem;
    aspect-ratio: 1/1;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}